@model NewsPortalApp.Models.SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}
<link rel="stylesheet" href="~/css/SignIn.css" />


<div class="signup-container">
    <div class="form-header">
        <h1>DailyNeuzz</h1><br />
        <h2>Sign In</h2>
        <p class="subtitle">Welcome to Morning Greetings, Please provide your details</p>
    </div>

    <div class="signup-box">
        <form asp-action="SignIn" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="button-group">
                <button type="submit" class="signup-btn">Sign In</button>
                <button type="button" class="google-btn">Continue with Google</button>
                <p class="login-link">Don't have an account? <a asp-action="SignUp">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>
